.a {
	border:1px solid black;
	height:69%;
	width:55%;
	margin-left:335px;
	margin-top:100px;
}
.b {
	margin-left:615px;
	margin-top:-420px;
	font-style:italic;
	font-size:20px;
	font-weight:bold;
}
.c{
	width:48%;
	margin-left:350px;
	margin-top:15px;
}
.d {
	font-size:15px;
	margin-left:350px;
	font-weight:bold;
	margin-top:18px;
}
.e {
	width:280px;
	font-size:10px;
	margin-left:350px;
	margin-top:8px;
	font-weight:100;
}
.f {
	width:280px;
	font-size:10px;
	margin-left:350px;
	margin-top:8px;
	font-weight:100;
}
.g {
	font-size:15px;
	margin-left:350px;
	font-weight:bold;
	margin-top:6px;
}
.h {
	width:280px;
	font-size:10px;
	margin-left:350px;
	margin-top:6px;
	font-weight:100;
}
.i {
	margin-left:333px;
	margin-top:11px;
	font-size:10px;
    
	}
	.j {
	width:280px;
	font-size:10px;
	margin-left:350px;
	margin-top:6px;
	font-weight:100;
}
.k {
	
	margin-left:330px;
	margin-top:2px;
	font-size:10px;
	text-decoration:underline;
	color:#DB7093;
	
    
	}
	.l{
	width:48%;
	margin-left:350px;
	margin-top:15px;
}
.m{
	
	margin-left:350px;
	margin-top:16px;
	font-size:10px;
    
	}
	.n {
	font-size:15px;
	margin-left:685px;
	font-weight:bold;
	margin-top:-359px;
}
.o {
	margin-left:663px;
	margin-top:-2px;
	font-size:10px;
    text-decoration:underline;
	color:#DB7093;
	}
.p {
margin-left:682px;
font-size:10px;
text-decoration:underline;
	color:#DB7093;
}
.q {
    background-color:#CD5C5C;
    height:30px;
	width:85px;
	border:none;
	color:white;
	margin-left:900px;
	margin-top:-65px;
}
.r {
    background-color:#CD5C5C;
    height:30px;
	width:85px;
	border:none;
	color:white;
	margin-left:900px;
	margin-top:-110px;
}
.s {
    background-color:#CD5C5C;
    height:30px;
	width:85px;
	border:none;
	color:white;
	margin-left:900px;
	margin-top:-20px;
}
.t {
    background-color:#CD5C5C;
    height:30px;
	width:85px;
	border:none;
	color:white;
	margin-left:900px;
	margin-top:15px;
}
.u {
    background-color:#CD5C5C;
    height:30px;
	width:85px;
	border:none;
	color:white;
	margin-left:900px;
	margin-top:15px;
}
    
    
